<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfluttermoduleapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-->
<!--            android:name="io.flutter.embedding.android.FlutterActivity"-->
<!--            android:theme="@style/TranslucentTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize"-->
<!--            />-->

        <activity
            android:name=".flutter.HomeFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".flutter.FirstFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".flutter.SecondFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".flutter.ThreeFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".flutter.FourFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".flutter.FiveFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".flutter.SixFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".flutter.BaseFlutterActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity android:name=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ThreeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".FourActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".FiveActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SixActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>